/* تنظیم جهت کلی سایت برای زبان فارسی */
html
{
    direction: rtl;
}

/* جهت متن‌ها در تمام بخش‌های سایت */
body
{
    direction: rtl;
    text-align: right;
}

/* عناصر فرم نیز از جهت راست به چپ استفاده می‌کنند */
input,
textarea,
select
{
    direction: rtl;
    text-align: right;
}

/* اعداد و متن‌هایی که نیاز به جهت چپ به راست دارند */
.ltr
{
    direction: ltr;
    text-align: left;
}
@font-face
{
    font-family: "Vazirmatn";
    src:
        url("../assets/fonts/Vazirmatn/Vazirmatn-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: "Vazirmatn";
    src:
        url("../assets/fonts/Vazirmatn/Vazirmatn-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: "Vazirmatn";
    src:
        url("../assets/fonts/Vazirmatn/Vazirmatn-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

html,
body
{
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}